<div class="navbar">
    <span id="link" style="margin-left: 30%;">FinBerg The Company</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span id="link">FinBerg Demo Request</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span id="link">FinBerg Remote Login</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span id="link">FinBerg Customer Support</span>
  </div>
  <div style="clear:both;width: 97%;margin:auto;position: relative;margin-top:7px;">
    <h1 id="link" routerLink = "/" style="left:42%;position:absolute;font-size: 45px;margin-top:0;font-weight: 800;">FinBerg</h1>
    <button class="btn-corner"><i class="fa fa-bars"></i>&nbsp;Menu</button>
    <button class="btn"><i class="fa fa-search"></i>&nbsp;Search</button>
    <button routerLink = "/currency" class="btn-corner" style="float: right;">Tools</button>
    <button class="btn" style="float: right;">Sign In</button>
    <button class="btn" style="float: right;"><i class="fa fa-angle-down"></i>&nbsp;Asia Edition</button>
  </div>
<router-outlet></router-outlet>
<br><br>
<div class="footer">
  <br><br>
  <div style="margin:auto;width:80%;position: relative;">
    <div style="float: left;width: 32%;">
      <div class="row1">
        <div style="float: left;width: 120px;"><span style="font-size: 12px;">Terms of Service</span></div>
        <div style="float: right;width:120px;"><span style="font-size: 12px;">Trademarks</span></div>
        <div style="margin:0 auto;width:120px"><span style="font-size: 12px;">Do Not Sell My Info</span></div>
      </div>
      <div style="clear: both;">
        <span style="font-size: 12px;">Privacy Policy</span>
      </div>
      <div style="clear: both;">
        <span style="font-size: 12px;">©2021 FinBerg L.P. All Rights Reserved
        </span>
      </div>
      
    </div>

    <div style="float: right;width: 35%;display: flex;flex: nowrap;">
      <span class="footer-element">Careers</span>
      <span class="footer-element">Made in NYC</span>
      <span class="footer-element">Advertise</span>
      <span class="footer-element">Ad Choices</span>
      <span class="footer-element">Help</span>
    </div>
  </div>
  <br><br>
</div>
